html {
  height: 100%;
  width: 100%;

}

nav {
  border-radius: 0 0 var(--radius-nav) var(--radius-nav);
  overflow: hidden;
}

nav a {
  transition: opacity 0.2s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-sm) var(--padding-h);
  width: 100%;
  max-width: var(--max-width-nav);
  background: var(--gradient);
}