html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

}

body {
  margin: 0;
}



:root {
  --Dark-Amethyst: #240046;
  --bleu-sarcelle: #048BA8;
  --bleu-nuit: #01202B;
}


/* NAVBAR */
nav {
  height: 80px;
  background: linear-gradient(to right, var(--bleu-nuit), #b100ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  color: white, ;
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

/* HEADER */
header {
  height: calc(100vh - 80px);
  background: #01202B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}

.hero p {
  margin-top: 10px;
  font-size: 1rem;
  text-transform: uppercase;
}


.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.content p,
.content span {
  font-size: 1rem;
  text-transform: uppercase;
}


/* CONTEXTE */
.contexte {
  background: #048BA8;
}

.contexte h2 {
  color: #01202B;
}

.contexte p {
  color: #8a00ff;
}

/* CIBLES */
.cibles {
  background: #f4f4f4;
}

.cibles h2,
.cibles span,
.cibles p {
  color: black;
}

/* EVOLUTIONS */
.evolutions {
  background: black;
}

.evolutions h2,
.evolutions p {
  color: white;
}


/* AVENIR */

.avenir {
  min-height: 100vh;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avenir h2,
.avenir p {
  color: #8a00ff;
}

/* FOOTER */

footer {
  height: 180px;
  background: linear-gradient(to right, #8a00ff, #b100ff);
  border: 4px solid #2196f3;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-content h2 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.footer-content p {
  color: white;
  margin-top: 10px;
  text-transform: uppercase;
}